<div id="<%= dom_id unidad %>">
  <p>
    <strong>Unitid:</strong>
    <%= unidad.unitID %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= unidad.codigo %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= unidad.placa %>
  </p>

</div>
