<% content_for :title, "Editing unidad" %>

<h1>Editing unidad</h1>

<%= render "form", unidad: @unidad %>

<br>

<div>
  <%= link_to "Show this unidad", @unidad %> |
  <%= link_to "Back to unidades", unidades_path %>
</div>
