<% content_for :title, "Editing unidad" %>

<h1>Editing unidad</h1>

<%= render "form", unidad: @unidad %>

<br>

<div>
  <%= link_to "Ver Unidad", @unidad %> |
  <%= link_to "Regresar a ver Unidades", unidades_path %>
</div>
