<div id="<%= dom_id asignacion_meta %>">
  <p>
    <strong>Unidad:</strong>
    <%= asignacion_meta.unidad_id %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= asignacion_meta.meta_id %>
  </p>

</div>
