<% content_for :title, "Editing asignacion meta" %>

<h1>Editing asignacion meta</h1>

<%= render "form", asignacion_meta: @asignacion_meta %>

<br>

<div>
  <%= link_to "Show this asignacion meta", @asignacion_meta %> |
  <%= link_to "Back to asignacion metas", asignacion_metas_path %>
</div>
