<% content_for :title, "New asignacion meta" %>

<h1>New asignacion meta</h1>

<%= render "form", asignacion_meta: @asignacion_meta %>

<br>

<div>
  <%= link_to "Back to asignacion metas", asignacion_metas_path %>
</div>
