<div id="<%= dom_id meta_notificacion %>">
  <p>
    <strong>Meta:</strong>
    <%= meta_notificacion.meta_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meta_notificacion.user_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= meta_notificacion.estado %>
  </p>

</div>
