<% content_for :title, "New meta notificacion" %>

<h1>New meta notificacion</h1>

<%= render "form", meta_notificacion: @meta_notificacion %>

<br>

<div>
  <%= link_to "Back to meta notificacions", meta_notificaciones_path %>
</div>
