@import "bootstrap";

body {
  outline: 8px solid lime !important;
}

.card {
  backdrop-filter: blur(10px);
}

.form-control {
  border: 1px solid #dfe3e8;
}

.form-control:focus {
  box-shadow: none;
  border-color: #212529;
}

.tabla-control-servicios {
  max-height: 70vh;
  overflow-y: auto;
}

.tabla-control-servicios table {
  width: 100%;
}

.tabla-control-servicios thead th {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #212529;
  color: white;
}

.tabla-control-servicios thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}

h1 {
  color: red !important;
}